button{
    border: none;
    border-radius: 5px;
    margin: 1px;
    cursor:pointer;
}
button:hover{
    background:rgb(164, 164, 195);
}

#networkCanvas{
    background:#607d8b;
}
#carCanvas{
    background:#607d8b;
}