button{
    border: none;
    border-radius: 5px;
    margin: 1px;
    cursor:pointer;
}
button:hover{
    background:rgb(164, 164, 195);
}

#networkCanvas{
    background:#607d8b;
}
#carCanvas{
    background:#607d8b;
}

table.table-hover tbody tr:hover{
    color: rgb(0, 153, 255);
    cursor:pointer;
}

td#ctrl-arrows span.active{
    color: rgb(39, 226, 2);
}

td#avg-speed.over{
    color: rgb(39, 226, 2);
}

td#avg-speed.under{
    color: rgb(226, 80, 2);
}


