body{
    margin:0;
    background:#d2bcbc;
    overflow:hidden;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    margin: 1px;
    cursor:pointer;
}
button:hover{
    background:rgb(164, 164, 195);
}

#networkCanvas{
    background:#607d8b;
}
#carCanvas{
    background:#607d8b;
}